<%- include('header') -%>
<form
	hx-<%= method %>="/items<% if (item.id) { %><%= "/" + item.id -%> <% } %>" 
	<% if (showImage) { %>
	enctype="multipart/form-data"
	<% } %>
>
	<label for="name">Name</label>
	<input type="text" name="name" <% if (item.name) { %>value="<%= item.name %>" <% } %> />
	<% if (showImage) { %>
		<label for="image">Image (JPEG & WebP only)</label>
		<input type="file" name="image" accept=".jpeg,.jpg,.webp" />
	<% } %>
	<span>
		<label for="description">Description</label>
		<%- include('tooltip', { text: 'You can use <a target="_blank" href="https://www.markdownguide.org/basic-syntax/">markdown</a> in here' }) -%>
	</span>
	<textarea rows="15" name="description"><%= item.description || '' -%></textarea>
	<button type="submit">Save Item</button>
</form>
<%- include('footer') -%>
