<%- include('header') -%>
	<h1>Library Items</h1>
	<p>Here you can view & search through all the items in the library</p>
	<a class="button-like" href="/items/create">Add Item</a>
	<form action="/items" method="GET">
		<label for="search">Search</label>
		<input
			type="search"
			name="search"
			hx-get="/items"
			hx-trigger="keyup changed delay:500ms, search"
			hx-target="#item-table"
			hx-select="#item-table"
			hx-swap="outerHTML"
		/>
	</form>
	<div id="item-table">
		<%- include('item-table') -%>
		<p class="pagination">
			<a href="/items?search=<%= search %>&page=<%= page - 1 %>" <% if(page === 1) { %>class="hidden"<% } %>>&lt; prev</a>
			<% for (const pageNum of Array.from({ length: pageCount }, (_, i) => i + 1)) { %>
			<a href="/items?search=<%= search %>&page=<%= pageNum %>">
				<% if (page === pageNum) { %>
					<strong><%= pageNum %></strong>
				<% } else { %>
					<%= pageNum %>
				<% } %>
			</a>
			<% } %>
			<a href="/items?search=<%= search %>&page=<%= page + 1 %>" <% if (page === pageCount) { %>class="hidden"<% } %>>next &gt;</a>
		</p>
	</div>
<%- include('footer') -%>

