<%- include('header') -%>
<div>
  <h1><%= sanitize(item.name) %></h1>
  <p style="display: flex; gap: 2rem; align-items: center;">
    <span><%= item.available ? "☑ Available" : `☒ Unavailable (On Loan to ${sanitize(item.username)})` %></span>
		<span><em>Owned By <%= sanitize(item.owner_name) %></em></span>
		<% if (isOwner || isAdmin) { %>
			<a class="button-like" href="/items/<%= item.id %>/edit">Edit Item</a>
		<% } %>
		<% if (!isOwner && !isRequested) { %>
			<button hx-post="/items/<%= item.id %>/request">Request to Borrow</button>
		<% } %>
  </p>
  <% if (item.image) { %>
		<div style="float: right; display: flex; flex-direction: column; align-items: flex-end;">
			<a  class="item-image-wrapper" href="/maximised/<%= item.image %>">
				<img class="item-image" src="/img/<%= item.image %>" />
			</a>
			<% if (isOwner || isAdmin) { %>
				<button hx-get="/items/<%= item.id %>/image/edit" hx-swap="outerHTML">Edit Image</button> <% }
			%>
		</div>
  <% } %>
  <h2>Description</h2>
	<p><%- sanitize(md(item.description)) %></p>
  <% if (isOwner && !item.available) { %>
    <button hx-put="/loan/<%= item.loan_id %>/return" hx-swap="outerHTML">Mark As Returned</button>
  <% } %>
</div>

<h2>Tags</h2>
<% if (tags.length > 0) { %>
	<dl>
	<% for (const tag of tags) { %>
		<div class="tag" id="tag-<%= tag.id %>">
			<dt><%= sanitize(tag.tag) %></dt>
			<dd><%= sanitize(tag.value) %></dd>
			<button 
				class="clean-button"
				hx-confirm="Are you sure you want to delete this tag?"
				hx-delete="/tags/<%= tag.id %>"
				hx-target="#tag-<%= tag.id %>"
				hx-swap="outerHTML"
			>&#x2716;</button>
		</div>
	<% } %>
	</dl>
<% } %>
<br /> <button hx-get="/items/<%= item.id %>/tag" hx-select="#page_body > *" hx-swap="outerHTML">Add Tag</button>

<% if (isOwner && requests.length > 0) { %>
  <h2>Requests</h2>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    <% for (const row of requests) { %>
      <tr id="request-<%= row.id %>">
        <td><%= sanitize(row.username) %></td>
        <td><%= row.created_at %></td>
        <td>
          <button hx-target="#request-<%= row.id %>" hx-put="/requests/<%= row.id %>/approve">
            Approve
          </button>
          <button hx-target="#request-<%= row.id %>" hx-put="/requests/<%= row.id %>/reject">
            Reject
          </button>
        </td>
      </tr>
    <% } %>
  </table>
<% } %>
<h2>Comments</h2>
<button hx-get="/items/<%= item.id %>/comment/create" hx-select="form" hx-swap="outerHTML">Add Comment</button>
<% if (comments.length > 0) { %>
	<% for (const comment of comments) { %>
		<div class="comment">
			<p><strong><%= sanitize(comment.username) %> (<%= comment.created_at %>)</strong></p>
			<p><%= sanitize(comment.content) %></p>
		</div>
	<% } %>
<% } %>
<%- include('footer') -%>
